body{
    margin:0;
    background-color: #d1cccc;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom:1px solid rgb(58, 57, 57);
    padding:10px;
}

h1{
    color:white;
}

input{
    width:500px;
    height:40px;
    border-radius:10px;
    margin-bottom:10px;
}

textarea{
    width:500px;
    height:200px;
    border-radius:10px;
    margin-bottom:10px;
}

button{
    background-color:blue;
    color:white;
    width:140px;
    height:40px;
    border-radius:10px;
    outline:none;
    border:none;
}

#cardContainer{
    display:flex;
    flex-wrap: wrap;
}
.card{
     width:400px;
     height:300px;
     border:1px solid black;
     border-radius:10px;
     margin:10px;
     padding:10px;
}

.title{
    color:#222;
    font-size:25px;
}